SpeedDevelopTool/Service References/U8DevDocs/u8devservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domcumentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDocumentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAskCount">
        <s:complexType />
      </s:element>
      <s:element name="getAskCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAskCountResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:getDocument" />
  </wsdl:message>
  <wsdl:message name="getDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:getDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="getAskCountSoapIn">
    <wsdl:part name="parameters" element="tns:getAskCount" />
  </wsdl:message>
  <wsdl:message name="getAskCountSoapOut">
    <wsdl:part name="parameters" element="tns:getAskCountResponse" />
  </wsdl:message>
  <wsdl:portType name="u8DevServiceSoap">
    <wsdl:operation name="getDocument">
      <wsdl:input message="tns:getDocumentSoapIn" />
      <wsdl:output message="tns:getDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAskCount">
      <wsdl:input message="tns:getAskCountSoapIn" />
      <wsdl:output message="tns:getAskCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="u8DevServiceSoap" type="tns:u8DevServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDocument">
      <soap:operation soapAction="http://tempuri.org/getDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAskCount">
      <soap:operation soapAction="http://tempuri.org/getAskCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="u8DevServiceSoap12" type="tns:u8DevServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDocument">
      <soap12:operation soapAction="http://tempuri.org/getDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAskCount">
      <soap12:operation soapAction="http://tempuri.org/getAskCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="u8DevService">
    <wsdl:port name="u8DevServiceSoap" binding="tns:u8DevServiceSoap">
      <soap:address location="http://u8dev.yonyou.com/u8devservice.asmx" />
    </wsdl:port>
    <wsdl:port name="u8DevServiceSoap12" binding="tns:u8DevServiceSoap12">
      <soap12:address location="http://u8dev.yonyou.com/u8devservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>